*, *::before, *::after{
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;
   font-weight: normal;
}
body {
    padding: 0px;
    margin: 0;
    background: linear-gradient(to right, #5f5d5f, rgb(0, 0, 0));
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-width: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 90px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, 0.75);
}
.calculator-grid> button:hover{
    background-color: rgb(255, 255, 255, 0.95);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous{
    color: rgba(255, 255, 255,.75);
    font-size: 1.5rem;
}
.output .current{
    color: white;
    font-size: 2rem;
}
.heading{
    display: grid;
    justify-content: center;
}

